qbAPI/.DS_Store
qbAPI/lib/
qbAPI/objs/
qbAPI/lib_unix/
qbAPI/lib_win/
qbAPI/objs_unix/
qbAPI/objs_win/

qbadmin/*.csv
qbadmin/objs_win/
qbadmin/bin_win/

VIBES_final_version/FW_PSoC5_VIBES/*.cydsn/codegentemp/
VIBES_final_version/FW_PSoC5_VIBES/*.cydsn/CortexM3/
VIBES_final_version/FW_PSoC5_VIBES/*.cydsn/Export/
VIBES_final_version/FW_PSoC5_VIBES/*.cydsn/Generated_Source/
VIBES_final_version/FW_PSoC5_VIBES/Backup/

VIBES_PCProcessing/*.cydsn/codegentemp/
VIBES_PCProcessing/*.cydsn/CortexM3/
VIBES_PCProcessing/*.cydsn/Export/
VIBES_PCProcessing/*.cydsn/Generated_Source/
VIBES_PCProcessing/Backup/

VIBES_final_version/FW_PSoC5_VIBES/CATKIN_IGNORE
VIBES_PCProcessing/CATKIN_IGNORE

